:root {
    --base-distance: 10px;
    --base-border-width: 2px;
}

body {
    font-family: 'Fira Mono', monospace;
    margin: calc(var(--base-distance) * 2);
    line-height: 1.6;
    font-size: 18px;
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    background-color: lightblue;
}

section, header {
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: var(--base-border-width);

    margin-bottom: var(--base-distance);
    margin-top: var(--base-distance);

    padding-left: calc(var(--base-distance) * 2);
    padding-right: var(--base-distance);
}

ul, ol {
    padding-left: calc(var(--base-distance) * 2);
}
