<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Артём Хандамиров</title>
    <link href="{{ get_asset_url(name="style") | safe }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <main>
        <header>
            <h1>Артём Хандамиров</h1>
        </header>

        <section id="about">
            <div>
                <a href="{{ get_asset_url(name="khandamirov-artiom-photo1") | safe }}">
                    <img style="max-width: calc(min(300px,100%));" class="image-portrait"
                        src="{{ get_asset_url(name="khandamirov-artiom-photo1") | safe }}" alt="Фотография Артёма Хандамирова" />
                </a>
            </div>

            <h2>О себе</h2>

            <p>Живу в Москве, учился в <a href="https://mai.ru/">МАИ</a> на факультете «Системы управления, информатика и
                электроэнергетика» на программиста, закончил институт в 2021 году. Работаю Java-разработчиком.
            </p>
        </section>

        <section id="accounts">
            <h2>Аккаунты</h2>

            <ul>
                <li>
                    Гитхаб: <a href="https://github.com/ArtUshak">ArtUshak</a>
                </li>
                <li>
                    Гитлаб: <a href="https://gitlab.com/ArtUshak">ArtUshak</a>
                </li>
                <li>
                    ВК: <a href="https://vk.com/artushak">artushak</a>
                </li>
                <li>
                    Телеграм: <a href="https://t.me/dazdrapartopowicz">dazdrapartopowicz</a>
                </li>
                <li>
                    Почта: <a href="mailto:t9max@yandex.ru">t9max@yandex.ru</a>
                </li>
                <li>
                    Хедхантер: <a href="https://hh.ru/resume/247f5d1fff068d989e0039ed1f4578474d6c6e">Хандамиров
                        Артём</a>
                </li>
                <li>
                    Абсурдопедия.wiki: <a href="https://absurdopedia.wiki/Участник:Виталик_Штепсель">Виталик
                        Штепсель</a> — <a href="#project-absurdopedia-wiki-admin">системный администратор (техник)</a>
                </li>
            </ul>
        </section>

        <section id="skills">
            <h2>Навыки: языки и библиотеки</h2>

            <ul>
                <li>
                    <a href="https://www.python.org/">Питон</a>
                    <ul>
                        <li>
                            <a href="https://www.djangoproject.com/">Django</a> — веб-фреймворк
                        </li>
                        <li>
                            <a href="https://www.django-rest-framework.org/">Django REST Framework</a> — фреймворк для
                            создания API на Django
                        </li>
                        <li>
                            <a href="https://click.palletsprojects.com/">Click</a> — библиотека для интерфейса командной
                            строки
                        </li>
                        <li>
                            <a href="https://requests.readthedocs.io/">requests</a> — библиотека для HTTP-запросов
                        </li>
                        <li>
                            <a href="https://docs.aiohttp.org/">aiohttp</a> — библиотека для асинхронных HTTP-запросов
                        </li>
                        <li>
                            <a href="https://python-pillow.org/">Pillow</a> — библиотека для работы с изображениями
                        </li>
                    </ul>
                </li>
                <li>
                    ДжаваСкрипт, <a href="https://www.typescriptlang.org/">ТайпСкрипт</a>
                    <ul>
                        <li>
                            <a href="https://jquery.com/">jQuery</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Си
                </li>
                <li>
                    Си#
                    <ul>
                        <li>
                            WPF — GUI-фреймворк
                        </li>
                        <li>
                            Unity — игровой движок
                        </li>
                    </ul>
                </li>
                <li>
                    Джава
                    <ul>
                        <li>
                            Spring — фреймворк
                        </li>
                    </ul>
                </li>
            </ul>
        </section>

        <section id="projects">
            <h2>Проекты</h2>

            <section class="project" id="project-wiki-tool-python">
                <h3>wiki_tool_python</h3>
                <p><b>Язык</b>: Питон</p>
                <p><b>Библиотеки</b>: click, requests</p>
                <p><b>Код</b>: <a href="https://github.com/ArtUshak/wiki_tool_python">wiki_tool_python</a> на Гитхабе
                </p>
                <p>Скрипт для работы с API движка MediaWiki, на котором работают Википедия и ряд других сайтов.</p>
                <p>С помощью скрипта можно получить список изображений или статей, скачать изображения и т.д.</p>
            </section>

            <section class="project" id="project-sheet2json">
                <h3>sheet2json</h3>
                <p><b>Язык</b>: Питон</p>
                <p><b>Библиотеки</b>: pyexcel, dnspython</p>
                <p><b>Код</b>: <a href="https://github.com/ArtUshak/sheet2json">sheet2json</a> на Гитхабе</p>
                <p>Скрипт переводит данные о чеках из файла электронной таблицы (XLS или CSV) в формат JSON для
                    использования в
                    онлайн-кассе 1С-Рарус.</p>
            </section>

            <section class="project" id="project-atelier">
                <h3>Сайт для Ателье</h3>
                <p><b>Язык</b>: Питон</p>
                <p><b>Библиотеки</b>: Django, Django REST Framework</p>
                <p><b>Код</b>: не опубликован</p>
                <p>Сайт для сотрудников ателье, чтобы учитывать заказы со статусами и комментариями. Есть
                    API для изменения статуса заказа по номеру штрихкода.</p>
            </section>

            <section class="project" id="project-absurdopedia-wiki-admin">
                <h3>Администрирование сайта <a href="https://absurdopedia.wiki/">absurdopedia.wiki</a></h3>
                <p>Я помогал при переезде сайта с бесплатного хостинга, сейчас занимаюсь технической частью: настраиваю
                    nginx, php-fpm, движок MediaWiki, исправляю неполадки. Написал <a
                        href="#project-mediawiki-upgrader">bash-скрипт для обновления движка,
                        расширений и тем оформления</a>.</p>
            </section>

            <section class="project" id="project-mediawiki-upgrader">
                <h3>mediawiki-upgrader</h3>
                <p><b>Язык</b>: bash</p>
                <p><b>Код</b>: <a href="https://github.com/ArtUshak/mediawiki-upgrader">mediawiki-upgrader</a> на
                    Гитхабе</p>
                <p>Скрипт для обновления движка MediaWiki, расширений и тем оформления. Написан для <a
                        href="#project-absurdopedia-wiki-admin">работы сайта absurdopedia.wiki</a>.</p>
            </section>

            <section class="project" id="project-clout-pictures">
                <h3><a href="https://clout.pictures/">clout.pictures</a></h3>
                <p><b>Языки</b>: Питон, ТайпСкрипт</p>
                <p><b>Библиотеки</b>: Django, Django REST Framework, starlette, aiohttp, Pillow</p>
                <p><b>Код</b>: не опубликован</p>
                <p>Сайт для получения информации о пользователях <a href="https://bitclout.com/">bitclout.com</a> и
                    формирования картинок с этой информацией: аватаркой, числом подписчиков и так далее.</p>
            </section>
        </section>
    </main>
</body>

</html>
